body {
    margin: 0;
    padding: 0;
}
/* Navbar Styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding-top: 10px;
    padding-left: 10px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; /* Add a background color */
}

/* Navbar links */
.navbar-brand a {
    color: #003366;
    text-decoration: none;
    font-size: 35px;
    margin-left: 55px;
    font-weight: bold;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 50px;
}

.navbar-links li a {
    color: #003366;
    font-weight: bold;
    text-decoration: none;
    font-size: 22px;
}
.cart-icon {
    font-size: 38px;
    text-decoration: none;
    margin-right: 35px;
    margin-bottom: 10px;
}

.navbar-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Dropdown Menu Styles */
.dropdown {
    position: relative;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 3;
    top: 100%;
    left: 0;
    background-color: #FFF5E1;
    padding: 10px 0;
    list-style: none;
    border-radius: 5px;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-weight: 100;
}

.dropdown-menu li a:hover {
    background-color: #FFD700;
    color: #333;
}

/* Show dropdown on active */
.dropdown.active .dropdown-menu {
    display: block;
}


/* Sidebar */
.sidebar {
    height: 100%;
    width: 0;  /* Start with a width of 0 (hidden) */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #7E4B3C;
    overflow-x: hidden;
    transition: 0.4s; 
    padding-top: 60px; 
    z-index: 3; 
}
.sidebar.open { 
    width: 250px; 
}
.sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #FFF5E1;
    font-weight: bold;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #f5b53f;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
    color: #fff;
}

.open-btn {
    font-size: 18px;
    padding: 3px 13px;
    background-color: #3a5c5c;
    color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 24px;
    left: 20px;
}

.open-btn:hover {
    background-color: #258989;
}



/*form photo*/
.img{
    background-color:hsl(18, 49%, 61%);
    height: 350px;
    width: 300px;
    margin-right: 29.5em;
}

/* login form */
.login-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 90px;
}
.login-text{
    border: solid;
    border-width: 1px;
    border-color: #e8a12e;
    height: 318px;
    width: 300px;
    margin-left: 28.3em;
    padding-left: 10px;
    padding-top: 30px;
    background-color: beige;
}
.login-text p{
    color: #861f00;
    padding: 5px;
    font-size: 20px;
}

.login-text p a {
    text-decoration: none;
    color:blue;
}
.login-text input{
    font-size: 18px;
    outline: none;
}
.login-btn{
    font-size: 20px;
    border: solid;
    border-width: 1px;
    background-color:#51291d ;
    color: #f6b132;
    margin-left: 95px;
}
.login-btn:hover{
    cursor: pointer;
}
