/* Navbar Styles */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding-top: 10px;
    padding-left: 15px;
}

.navbar-brand a {
    color: #003366;
    text-decoration: none;
    font-size: 35px;
    margin-left: 57px;
    font-weight: bold;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap:50px;
}

.navbar-links li a {
    color: #003366;
    font-weight: bold;
    text-decoration: none;
    font-size: 22px;
}

.navbar-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart-icon {
    font-size: 38px;
    text-decoration: none;
    margin-right: 35px;
    margin-left: 200px;
    margin-bottom: 10px;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    cursor: pointer;
}
.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 3;
    top: 100%;
    left: 0;
    background-color: #FFF5E1;
    padding: 10px 0;
    list-style: none;
    border-radius: 5px;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-weight:100;
}

.dropdown-menu li a:hover {
    background-color: #FFD700;
    color: #333;
}

/* Show dropdown on active */

.dropdown.active .dropdown-menu {
    display: block;
}
.sidebar {
    height: 100%;
    width: 0;  /* Start with a width of 0 (hidden) */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #7E4B3C;
    overflow-x: hidden;
    transition: 0.4s; 
    padding-top: 60px; 
    z-index: 3; 
}
.sidebar.open { 
    width: 250px; 
}
.sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #FFF5E1;
    font-weight: bold;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #f5b53f;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
    color: #fff;
}

.open-btn {
    font-size: 18px;
    padding: 3px 13px;
    background-color: #3a5c5c;
    color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 24px;
    left: 20px;
}

.open-btn:hover {
    background-color: #258989;
}

@keyframes  translate{
    to{
        transform: translatey(-10px);
    }
}


